.todo-form {
	position: relative;
	.validate {
		color: #ffffff;
	}
	.input-field label {
		color: #ffffff;
	}
	.input-field input[type="text"]:focus + label {
		color: #00d9ff;
	}
	.input-field input[type="text"]:focus {
		border-bottom: 1px solid #00d9ff;
		box-shadow: 0 1px 0 0 #00d9ff;
	}
	.helper-text {
		color: #00d9ff;
	}
	.btn-small {
		background: #6a1b9a;
	}
	&__btn {
		z-index: 1;
		cursor: pointer;
		display: none;
		position: absolute;
		top: 5px;
		right: 0;
		&:active {
			transform: scale(1.015);
		}
	}
}
